@using YEMEKCI.Models
@model Category
@{
    ViewBag.Title = "Kategori Ekle";

}

<div style="margin: 40px 50px 0px 50px;">

    <h3 style="font-weight: 600; color:#f8a920; margin-bottom:20px">Kategori Ekle</h3>

    <form action="/Category/CategoryEkle" method="post">

        <div class="form-group">
            <input type="hidden" class="form-control" value="@Model.ID " id="ID" name="ID">
        </div>

        <div class="form-group">
            <label for="name">Kategori İsmi :</label>
            <input type="text" class="form-control w-25" value="@Model.name " id="name" name="name">
        </div>

        <div class="form-group form-check"></div>

        <button type="submit" class="btn btn-success">Ekle</button>

    </form>

</div>
