@using YEMEKCI.Models
@model Discount

@{
    ViewBag.Title = "Kupon Ekle";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div style="margin: 40px 50px 0px 50px;">

    <h3 style="font-weight: 600; color:#f8a920; margin-bottom:20px">Kupon Ekle</h3>

    <form action="/Discount/DiscountEkle" method="post">

        <div class="form-group" style="padding-bottom:30px">
            <label class="pb-1 fw-bold" for="name">İSİM :</label>
            <input type="text" class="form-control w-25" value="@Model.name" id="name" name="name">
        </div>

        <div class="form-group">
            <label class="pb-1 fw-bold" for="surname">İNDİRİM ORANI :</label>
            <input type="text" class="form-control w-25" value="@Model.discount_rate" id="discount_rate" name="discount_rate">
        </div>

        <div class="form-group form-check"></div>

        <button type="submit" class="btn btn-success">Ekle</button>

    </form>
</div>