
@{
    ViewBag.title = "AnaSayfa";
}

<div>
    <div>
        <img class="ymkimg" src="~/Admin_Contents/assets/img/yemeksepeti.jpg"/>
    </div>

</div>



<style>

    .ymkimg {
        min-width:100%;
        height:800px
    }

</style>

